<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798159332068-1j47gsnrgdsurr7tqbivcjf3q3e18811.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798159332068-1j47gsnrgdsurr7tqbivcjf3q3e18811</string>
	<key>API_KEY</key>
	<string>AIzaSyCiHOIHuM9gL6OoxY8RiWar04KH08kZvqE</string>
	<key>GCM_SENDER_ID</key>
	<string>798159332068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.investor.investorFlutter</string>
	<key>PROJECT_ID</key>
	<string>investtor-tz</string>
	<key>STORAGE_BUCKET</key>
	<string>investtor-tz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798159332068:ios:32a564742a005b16ae02f1</string>
</dict>
</plist>